ReciptPrinter/BillingSystem.Domain/bin/Debug/BillingSystem.Domain.dll
ReciptPrinter/BillingSystem.Domain/bin/Debug/BillingSystem.Domain.pdb
ReciptPrinter/BillingSystem.Domain/obj/Debug/BillingSystem.Domain.csproj.FileListAbsolute.txt
ReciptPrinter/BillingSystem.Domain/obj/Debug/BillingSystem.Domain.dll
ReciptPrinter/BillingSystem.Domain/obj/Debug/BillingSystem.Domain.pdb
ReciptPrinter/bin/Debug/BillingSystem.Domain.dll
ReciptPrinter/bin/Debug/BillingSystem.Domain.pdb
ReciptPrinter/bin/Debug/ReceiptPrinter.Repositories.dll
ReciptPrinter/bin/Debug/ReceiptPrinter.Repositories.pdb
ReciptPrinter/bin/Debug/ReciptPrinter.exe
ReciptPrinter/bin/Debug/ReciptPrinter.pdb
ReciptPrinter/obj/Debug/ReceiptPrinter.csproj.FileListAbsolute.txt
ReciptPrinter/obj/Debug/ReceiptPrinter.csprojResolveAssemblyReference.cache
ReciptPrinter/obj/Debug/ReciptPrinter.exe
ReciptPrinter/obj/Debug/ReciptPrinter.pdb
ReciptPrinter/ReceiptPrinter.Repositories/bin/Debug/BillingSystem.Domain.dll
ReciptPrinter/ReceiptPrinter.Repositories/bin/Debug/BillingSystem.Domain.pdb
ReciptPrinter/ReceiptPrinter.Repositories/bin/Debug/ReceiptPrinter.Repositories.dll
ReciptPrinter/ReceiptPrinter.Repositories/bin/Debug/ReceiptPrinter.Repositories.pdb
ReciptPrinter/ReceiptPrinter.Repositories/obj/Debug/ReceiptPrinter.Repositories.dll
ReciptPrinter/ReceiptPrinter.Repositories/obj/Debug/ReceiptPrinter.Repositories.pdb
ReciptPrinter/ReceiptPrinter.Repositories/obj/Debug/ShoppingBasket.Repositories.csproj.FileListAbsolute.txt
ReciptPrinter/ReceiptPrinter.Repositories/obj/Debug/ShoppingBasket.Repositories.csprojResolveAssemblyReference.cache
ReciptPrinter/ReceiptPrinter.v11.suo
