*/bin/Debug/*.dll
*/bin/Debug/*.pdb
*/obj/Debug/*.txt
*/*.dll
*/*.pdb
*/*.dll
*/*.pdb
*/*.exe
*/*.pdb
*/obj/Debug/*.txt
*/obj/Debug/*.cache
*/obj/Debug/*.exe
*/obj/Debug/*.pdb
*/*.suo
.gitignore
ReceiptPrinterTests/bin/Debug/BillingSystem.Domain.dll
ReceiptPrinterTests/bin/Debug/BillingSystem.Domain.pdb
ReceiptPrinterTests/bin/Debug/EntityFramework.dll
ReceiptPrinterTests/bin/Debug/EntityFramework.xml
ReceiptPrinterTests/bin/Debug/Moq.dll
ReceiptPrinterTests/bin/Debug/Moq.pdb
ReceiptPrinterTests/bin/Debug/Moq.xml
ReceiptPrinterTests/bin/Debug/nunit.framework.dll
ReceiptPrinterTests/bin/Debug/nunit.framework.xml
ReceiptPrinterTests/bin/Debug/ReceiptPrinter.Repositories.dll
ReceiptPrinterTests/bin/Debug/ReceiptPrinter.Repositories.pdb
ReceiptPrinterTests/bin/Debug/ReceiptPrinterTests.dll
ReceiptPrinterTests/bin/Debug/ReceiptPrinterTests.pdb
ReceiptPrinterTests/bin/Debug/ReciptPrinter.exe
ReceiptPrinterTests/bin/Debug/ReciptPrinter.pdb
ReceiptPrinterTests/bin/Debug/Shouldly.dll
ReceiptPrinterTests/bin/Debug/Shouldly.pdb
ReceiptPrinterTests/obj/Debug/ReceiptPrinterTests.csprojResolveAssemblyReference.cache
ReceiptPrinterTests/obj/Debug/ReceiptPrinterTests.dll
ReceiptPrinterTests/obj/Debug/ReceiptPrinterTests.pdb
ReciptPrinter/_NCrunch_ReceiptPrinter/ReceiptPrinter.crunchsolution.cache
ReciptPrinter/BillingSystem.Domain/bin/Debug/BillingSystem.Domain.dll
ReciptPrinter/BillingSystem.Domain/bin/Debug/BillingSystem.Domain.pdb
ReciptPrinter/BillingSystem.Domain/obj/Debug/BillingSystem.Domain.csprojResolveAssemblyReference.cache
ReciptPrinter/BillingSystem.Domain/obj/Debug/BillingSystem.Domain.dll
ReciptPrinter/BillingSystem.Domain/obj/Debug/BillingSystem.Domain.pdb
ReciptPrinter/bin/Debug/BillingSystem.Domain.dll
ReciptPrinter/bin/Debug/BillingSystem.Domain.pdb
ReciptPrinter/bin/Debug/EntityFramework.dll
ReciptPrinter/bin/Debug/EntityFramework.xml
ReciptPrinter/bin/Debug/ReceiptPrinter.Repositories.dll
ReciptPrinter/bin/Debug/ReceiptPrinter.Repositories.pdb
ReciptPrinter/bin/Debug/ReciptPrinter.exe
ReciptPrinter/bin/Debug/ReciptPrinter.exe.config
ReciptPrinter/bin/Debug/ReciptPrinter.pdb
ReciptPrinter/bin/Debug/ReciptPrinter.vshost.exe.manifest
ReciptPrinter/obj/Debug/ReceiptPrinter.csproj.FileListAbsolute.txt
ReciptPrinter/obj/Debug/ReceiptPrinter.csprojResolveAssemblyReference.cache
ReciptPrinter/obj/Debug/ReciptPrinter.exe
ReciptPrinter/obj/Debug/ReciptPrinter.pdb
ReciptPrinter/packages/repositories.config
ReciptPrinter/ReceiptPrinter.Repositories/bin/Debug/BillingSystem.Domain.dll
ReciptPrinter/ReceiptPrinter.Repositories/bin/Debug/BillingSystem.Domain.pdb
ReciptPrinter/ReceiptPrinter.Repositories/bin/Debug/EntityFramework.dll
ReciptPrinter/ReceiptPrinter.Repositories/bin/Debug/EntityFramework.xml
ReciptPrinter/ReceiptPrinter.Repositories/bin/Debug/ReceiptPrinter.Repositories.dll
ReciptPrinter/ReceiptPrinter.Repositories/bin/Debug/ReceiptPrinter.Repositories.dll.config
ReciptPrinter/ReceiptPrinter.Repositories/bin/Debug/ReceiptPrinter.Repositories.pdb
ReciptPrinter/ReceiptPrinter.Repositories/obj/Debug/ReceiptPrinter.Repositories.dll
ReciptPrinter/ReceiptPrinter.Repositories/obj/Debug/ReceiptPrinter.Repositories.Migrations.InitialCreate.resources
ReciptPrinter/ReceiptPrinter.Repositories/obj/Debug/ReceiptPrinter.Repositories.pdb
ReciptPrinter/ReceiptPrinter.Repositories/obj/Debug/ShoppingBasket.Repositories.csproj.GenerateResource.Cache
ReciptPrinter/ReceiptPrinter.Repositories/obj/Debug/ShoppingBasket.Repositories.csprojResolveAssemblyReference.cache
ReciptPrinter/ReceiptPrinter.sln.DotSettings.user
ReciptPrinter/ReceiptPrinter.v11.suo
